@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  height: 100vh;
}

.container {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  width: 320px;
  height: 250px;
  padding: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.pantalla {
  background: rgb(255, 255, 255);
  width: 100%;
  margin: 0px 0px 20px 0px;
  border-radius: 25px;
}

.sound__info {
  color: var(--color-principal);
  text-align: center;
  font-size: 1.3em;
}

.drum {
  outline: none;
  color: #fff;
  width: 35px;
  height: 35px;
  font-size: 2em;
  border-radius: 5px;
}

.drum {
  cursor: pointer;
}

.q {
  background: radial-gradient(circle, rgb(35, 206, 12), rgb(42, 237, 17));
  animation: coolAnimation 0.5s;
}

.w {
  background: radial-gradient(circle, rgb(35, 206, 12), rgb(42, 237, 17));
  animation: coolAnimation 0.5s;
  animation-delay: 0.2s;
}

.e {
  background: radial-gradient(circle, rgb(35, 206, 12), rgb(42, 237, 17));
  animation: coolAnimation 0.5s;
  animation-delay: 0.3s;
}

.r {
  background: radial-gradient(circle, rgb(35, 206, 12), rgb(42, 237, 17));
  animation: coolAnimation 0.5s;
  animation-delay: 0.4s;
}

.t {
  background: radial-gradient(circle, rgb(208, 211, 13), rgb(251, 255, 0));
  animation: coolAnimation 0.5s;
  animation-delay: 0.5s;
}

.y {
  background: radial-gradient(circle, rgb(208, 211, 13), rgb(251, 255, 0));
  animation: coolAnimation 0.5s;
  animation-delay: 0.6s;
}

.u {
  background: radial-gradient(circle, rgb(208, 211, 13), rgb(251, 255, 0));
  animation: coolAnimation 0.5s;
  animation-delay: 0.7s;
}

.i {
  background: radial-gradient(circle, rgb(208, 211, 13), rgb(251, 255, 0));
  animation: coolAnimation 0.5s;
  animation-delay: 0.8s;
}

.a {
  background: radial-gradient(circle, rgb(26, 196, 193), rgb(14, 237, 233));
  animation: coolAnimation 0.5s;
  animation-delay: 0.9s;
}

.s {
  background: radial-gradient(circle, rgb(26, 196, 193), rgb(14, 237, 233));
  animation: coolAnimation 0.5s;
  animation-delay: 1s;
}

.d {
  background: radial-gradient(circle, rgb(26, 196, 193), rgb(14, 237, 233));
  animation: coolAnimation 0.5s;
  animation-delay: 1.1s;
}

.f {
  background: radial-gradient(circle, rgb(26, 196, 193), rgb(14, 237, 233));
  animation: coolAnimation 0.5s;
  animation-delay: 1.2s;
}

.g {
  background: radial-gradient(circle, rgb(157, 27, 141), rgb(199, 0, 176));
  animation: coolAnimation 0.5s;
  animation-delay: 1.3s;
}

.h {
  background: radial-gradient(circle, rgb(157, 27, 141), rgb(199, 0, 176));
  animation: coolAnimation 0.5s;
  animation-delay: 1.4s;
}

.j {
  background: radial-gradient(circle, rgb(157, 27, 141), rgb(199, 0, 176));
  animation: coolAnimation 0.5s;
  animation-delay: 1.5s;
}

.k {
  background: radial-gradient(circle, rgb(157, 27, 141), rgb(199, 0, 176));
  animation: coolAnimation 0.5s;
  animation-delay: 1.6s;
}

.pressed {
  transform: scale(0.9);
}

@keyframes coolAnimation {
  0% {
    opacity: 0.5;
  }
}
